$exampleDuration: 2s;

@keyframes backAndForth {
  0% {
    cy: 290;
  }

  100% {
    cy: 10;
  }
}

.backAndForthAnimation {
  animation-name: backAndForth;
  animation-duration: $exampleDuration;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
  animation-direction: alternate;
  animation-timing-function: linear;
}
