@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.creative_coding {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 3px;
}

.svgText {
  font-family: "Bagel Fat One", serif;
}

.letter {
  font-size: 35px;
  fill: white;
  color: white;
}

.playbackControls {
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border: none;
}

.playback {
  padding: 0.5rem 1rem;
}
