.holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-top: 3rem;
  gap: 1rem;
}

.linkStyle {
  color: var(--color-link);
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px solid var(--color-link);
}
