.holder {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 5rem;
}

.contentHolder {
  position: relative;
  margin: 2rem 1rem 1rem 1rem;
  padding: 1rem;
  width: clamp(400px, calc(90% - 250px), 900px);
  margin-left: 250px;

  svg {
    background: white;
  }
}

@media screen and (max-width: 800px) {
  .contentHolder {
    margin: 2rem 0 0 0;
    width: 100%;
  }
}
