.svgHolder {
  position: fixed;
  opacity: 1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  user-select: none;
  -moz-user-select: none;
  pointer-events: none;
  /* z-index: -100; */
  background: linear-gradient(to bottom, rgb(127, 0, 155), rgb(37, 0, 44));
}

.svgHolder > svg {
  width: 100%;
  max-width: 100%;
  border: none;
  max-height: none !important;
}
