.holder {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-size: 1rem;
  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.buttonContents {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.subholder {
  position: relative;
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
}

.link {
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 0 0.125rem;
  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.activeLink {
  font-weight: 600;
}

.buttonNumber {
  font-weight: 600;
  margin-right: 0.5rem;
  color: var(--color-link);
}

.iconHolder {
  height: 1rem;
  color: var(--color-text-primary);
}
