.holder {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
  font-size: 1rem;
  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.buttonContents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  margin-right: 0.5rem;
}

.subholder {
  margin: 0.5rem 0;
  gap: 0.5rem;
  position: relative;
  margin-left: 1.25rem;
  display: flex;
  flex-direction: column;
}

.link {
  cursor: pointer;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-text-primary);
  text-decoration: none;
  padding: 0 0.125rem;
  &:hover {
    background-color: var(--color-bg-hover);
  }
}

.activeLink {
  text-shadow: 0 0 0.5px currentColor;
}

.iconHolder {
  height: 1rem;
  color: var(--color-text-primary);
}
