.desktopContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.2rem;
  width: fit-content;
  padding: 1rem;
  margin: 3rem 0 0 1rem;
}

@media screen and (max-width: 800px) {
  .desktopContainer {
    display: none;
  }
}

.hamburgerHolder {
  position: fixed;
  z-index: 1000;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.5rem;
  color: black;
}

.mobileNavHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}

.mobileButtonContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.2rem;
  width: 250px;
  height: 100%;
  padding: 4rem 0 0 2rem;
  margin: 0;
  background: white;
}

.on {
}

@media screen and (min-width: 801px) {
  .mobileNavHolder {
    display: none;
  }
}
