.desktopContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.2rem;
  width: fit-content;
  padding: 1rem 0 0 0;
  margin: 3rem 0 0 0rem;
}

@media screen and (max-width: 800px) {
  .desktopContainer {
    display: none;
  }
}

.hamburgerHolder {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
  color: white;
}

.hamburgerHolder svg {
  border: none;
}

.mobileNavHolder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 0, 43, 0.4);
}

.mobileButtonContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: right;
  gap: 0.2rem;
  width: 275px;
  height: 100%;
  padding: 4rem 0 0 1rem;
  margin: 0;
  background: rgb(249, 224, 255);
  border-right: 4px solid rgb(32, 0, 37, 0.3);
}

.on {
}

@media screen and (min-width: 801px) {
  .mobileNavHolder,
  .hamburgerHolder {
    display: none;
  }
}
