.particleHolder {
  z-index: -100;
}

.title {
  font-family: "Bungee Inline", sans-serif;
  font-size: 3rem;
  margin-bottom: 0;
  line-height: 1.1;
  text-align: left;
  line-height: 0.9;
  z-index: 100;
  text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
}

.subheading {
  font-size: 1.25rem;
  margin: 1rem 0;
  opacity: 0.9;
}

@media screen and (max-width: 600px) {
  .subheading {
    font-size: 1rem;
    margin: 1rem 0 2rem 0;
  }

  .title {
    font-size: 2.5rem;
  }
}

.main {
  font-size: 1.5rem;
}

.list li {
  list-style-type: circle;
  list-style-position: outside;
  font-size: 1.5rem;
}

.holder {
  height: calc(100vh - 100px);
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  z-index: 100;
}

.changeAnimation {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;

  margin-top: 3rem;
  opacity: 0.9;
}

.animationName {
  font-family: "IBM Plex Mono", monospace;
  font-variant: small-caps;
  color: white;
  cursor: pointer;
  font-size: 1.2rem;
  opacity: 0.5;
  transition: opacity 0.3s;
}

.animationName.selected {
  opacity: 1;
  text-decoration: underline;
  text-underline-offset: 0.3em;
}

.buttonHolder {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
