@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");

:root {
}

* {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: "Shrikhand", serif;
  font-size: 5rem;
  margin: 1rem 0;
  line-height: 4rem;
  color: rgb(52, 1, 63);
}

h2 {
  font-size: 2rem;
  font-weight: 400;
  margin: 3rem 0 1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 2rem 0 0.5rem;
}

p {
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

ol {
  list-style: number inside;
  margin-left: 1rem;
}

ul {
  list-style: circle inside;
  list-style-type: " - ";
  margin-left: 1.5rem;
}

li {
  font-weight: 300;
  font-size: 1rem;
  padding: 0.1rem 0;
  list-style-type: circle;
  list-style-position: outside;
}

ol li {
  font-weight: 300;
  font-size: 1rem;
  padding-left: 0.5rem;
  list-style-position: outside;
  list-style-type: decimal;
}

strong {
  font-weight: 500;
}

img {
  margin-bottom: 1.5rem;
  width: 100%;
  height: auto;
  border: 1px solid #eaeaea;
}

svg {
  position: relative;
  border: 1px solid #eaeaea;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 500px;
}

svg text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
svg text::selection {
  background: none;
}

span svg {
  margin: 0;
  border: none;
  padding: none;
  margin-left: 0.5rem;
  height: 1rem;
}

pre {
  background-color: #eaeaea;
  margin: 1rem 0;
  padding: 1rem;
  font-family: monospace;
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

hr {
  margin-top: 1rem;
  border-top: 1px solid #d3d2d2;
}

code {
  font-family: monospace;
  font-size: 1rem;
}

video {
  margin: 1.5rem 0;
  border: 1px solid rgb(77, 77, 77);
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 3rem;
    margin: 1rem 0;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
    font-weight: 400;
    margin: 3rem 0 1rem;
  }

  h3 {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 2rem 0 0.5rem;
  }

  p {
    font-size: 1rem;
    margin: 0 0 1rem;
  }
}

.codepenLink {
  color: rgb(36, 1, 44);
  font-weight: 200;
  text-decoration: none;
  border-bottom: 1px solid rgb(36, 1, 44);
}

.codepenLink::after {
  position: relative;
  content: " >";
}
