.holder {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin-bottom: 5rem;
}

.contentHolder {
  margin: auto;
  padding: 1rem;
}

@media screen and (max-width: 800px) {
  .contentHolder {
    margin: 2rem 0 0 0;
    width: 100%;
  }
}
