.containerWithButton {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: 2rem 0;
}

.modalContainer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 500;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.2);
}
