.container {
  position: fixed;
  width: 100vw;
  height: 45px;
  background: rgb(36, 1, 44);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem 0 2rem;
  z-index: 100;
}

.title {
  font-weight: 500;
  font-size: 1.25rem;
  letter-spacing: 0.025rem;
  color: white;
  font-style: italic;
}

.zuubaDigital {
  font-weight: 200;
  font-size: 1rem;
  letter-spacing: 0.125rem;
  color: white;
  font-style: italic;
}

@media screen and (max-width: 800px) {
  .container {
    padding: 0 0.5rem 0 3.5rem;
  }

  .title {
    font-weight: 500;
    font-size: 1rem;
  }

  .zuubaDigital {
    font-size: 0.5rem;
  }
}
