$exampleDuration: 3s;

@mixin animationDirProps {
  animation-name: grow;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: $exampleDuration;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes grow {
  from {
    transform: scale(1);
  }

  to {
    transform: scale(2.5);
  }
}

.animDirNormal {
  @include animationDirProps();
  animation-direction: normal;
}

.animDirReverse {
  @include animationDirProps();
  animation-direction: reverse;
}
.animDirAlternate {
  @include animationDirProps();
  animation-direction: alternate;
}

.animDirAlternateReverse {
  @include animationDirProps();
  animation-direction: alternate-reverse;
}

.fillStuffContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@mixin animationFillProps {
  animation-name: growAndFill;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: $exampleDuration;
  animation-direction: normal;
  animation-delay: 1s;
  transform-box: fill-box;
  transform-origin: 50% 50%;
}

@keyframes growAndFill {
  from {
    transform: scale(2);
    fill: red;
  }
  to {
    transform: scale(4);
    fill: blue;
  }
}
.animFillHold {
  transform: scale(1);
  fill: lightgrey;
}

.animFillNone {
  @include animationFillProps();
  animation-fill-mode: none;
}

.animFillForwards {
  @include animationFillProps();
  animation-fill-mode: forwards;
}

.animFillBackwards {
  @include animationFillProps();
  animation-fill-mode: backwards;
}

.animFillBoth {
  @include animationFillProps();
  animation-fill-mode: both;
}
